:root {
    --theme-primary-color: #2196F3;
    --theme-primary-text-color: #2196F3;
    --theme-primary-color-lightened: #2DA2FF;
    --theme-icon-focus-background: rgba(33, 150, 243, 0.2);
}

html, .skinHeader {
    color: #222;
    color: rgba(0, 0, 0, .87);
}

.emby-collapsible-button {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .158);
}

.collapseContent {
    background-color: #eaeaea;
}

.skinHeader-withBackground {
    background-color: var(--theme-primary-color);
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    /*background-image: linear-gradient(to right,#BCBCBC, #A7B4B7, #BEB5A5, #ADBEC2, #B9C7CB);*/
}

.skinHeader.semiTransparent {
    background-color: rgba(0, 0, 0, .3);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    box-shadow: none !important;
    color: rgba(255,255,255, .87);
}

.pageTitleWithDefaultLogo {
    background-image: url(../logowhite.png);
}

html, .backgroundContainer {
    background-color: #fafafa;
    /*background-image: linear-gradient(to bottom,#C2D4DE, #EBFAFE, #E3DCD4, #CED6D8, #C0D3DA);*/
}

    .backgroundContainer.withBackdrop {
        background-color: rgba(255,255,255, .88);
    }

@media not all and (min-width: 50em) {

    .itemBackgroundContainer.withBackdrop {
        background-color: var(--theme-background);
    }
}

.dialog {
    background-color: #f0f0f0;
}

/* buttons */
.paper-icon-button-light-tv:focus, .paper-icon-button-light:active {
    color: var(--theme-primary-color);
    background-color: var(--theme-icon-focus-background);
}

@media(hover: hover) and (pointer: fine) {
    .paper-icon-button-light:focus {
        color: var(--theme-primary-color);
        background-color: var(--theme-icon-focus-background);
    }
}

.skinHeader-withBackground .paper-icon-button-light-tv:focus, .skinHeader-withBackground .paper-icon-button-light:active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

@media(hover: hover) and (pointer: fine) {
    .skinHeader-withBackground .paper-icon-button-light:focus {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.raised, .fab, .detailButton-icon {
    background: #d8d8d8;
    color: inherit;
}

.detailButton-icon {
    border-color: rgba(0, 0, 0, .3);
}

.raised:focus, .fab:focus {
    background: #ccc;
    color: inherit;
}

.button-submit:not(.emby-button-tv) {
    background: var(--theme-primary-color);
    color: #fff;
}

    .button-submit:not(.emby-button-tv):focus {
        background: var(--theme-primary-color-lightened);
        color: #fff;
    }

.selectLabelFocused, .textareaLabelFocused, .inputLabelFocused, .button-link {
    color: var(--theme-primary-text-color);
}

.checkboxOutline {
    border-color: currentColor;
}

.paperList {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: .3em;
}

.visualCardBox {
    background-color: #fff;
}

.formDialogHeader:not(.formDialogHeader-clear) {
    background-color: var(--theme-primary-color);
    color: #fff;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #f0f0f0;
    border-top: 1px solid rgba(0,0,0,.08);
    color: inherit;
}

.listItemBodyText-secondary, .secondaryText, .fieldDescription, .cardText-secondary {
    color: #888;
    color: rgba(0, 0, 0, .6);
}

.actionsheetDivider {
    background: #ddd;
    background: rgba(0, 0, 0, .14);
}

.formDialogHeader a {
    color: #fff;
}

@media(hover: hover) and (pointer: fine) {
    .actionSheetMenuItem:hover {
        background-color: #ddd;
    }
}

.toast {
    background: #303030;
    color: #fff;
    color: rgba(255, 255, 255, .87);
}

/* appfooter */
.appfooter {
    background: #ffffff;
    border-top: 1px solid #e2e2e2;
    /* This is a hack to prevent the border from being always visible */
    bottom: -2px !important;
}

.nowPlayingBarSecondaryText {
    color: rgba(255, 255, 255, .5);
}

/* Multi-select */
.itemSelectionPanel {
    border: 1px solid var(--theme-primary-color);
}

.selectionCommandsPanel {
    background: var(--theme-primary-color);
    color: #fff;
}

/* upNextDialog */
.upNextDialog-countdownText {
    color: var(--theme-primary-color);
}

/* alphaPicker */
.alphaPickerButton {
    color: #555;
    color: rgba(0, 0, 0, .6);
    background-color: transparent;
}

.alphaPickerButton-selected, .alphaPickerButton-tv:focus {
    background-color: var(--theme-primary-color);
    color: #fff !important;
}

/* listItem */
.detailTableBodyRow-shaded:nth-child(even) {
    background: #f8f8f8;
}

.listItem-border {
    border-color: rgba(0,0,0,.08) !important;
}

.listItem-focusscale:focus {
    background: #ddd;
}

.progressring-spiner {
    border-color: var(--theme-primary-color);
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.starIcon {
    color: #CB272A;
}

.mediaInfoTimerIcon {
    color: #CB272A;
}

/* inputs */
.emby-input, .emby-textarea {
    color: inherit;
    background: #fff;
    border: .07em solid rgba(0, 0, 0, .158);
}

    .emby-input:focus, .emby-textarea:focus {
        border-color: var(--theme-primary-color);
    }

/* select */
.emby-select-withcolor {
    color: inherit;
    background: #fff;
    border: .07em solid rgba(0, 0, 0, .158);
}

    .emby-select-withcolor > option {
        color: #000;
        background: #fff;
    }

    .emby-select-withcolor:focus {
        border-color: var(--theme-primary-color);
    }

.emby-select-tv-withcolor:focus {
    background-color: var(--theme-primary-color);
    color: #fff;
}

/* checkbox */
.emby-checkbox:checked + span + span + .checkboxOutline {
    border-color: var(--theme-primary-color);
}

.emby-checkbox-tv:focus + span + .emby-checkbox-focushelper {
    background-color: var(--theme-icon-focus-background);
}

@media(hover: hover) and (pointer: fine) {
    .emby-checkbox:focus + span + .emby-checkbox-focushelper {
        background-color: var(--theme-icon-focus-background);
    }
}

.emby-checkbox:checked + span + span + .checkboxOutline {
    background-color: var(--theme-primary-color);
}

/* indicators */
.itemProgressBarForeground {
    background-color: var(--theme-primary-color);
}

.itemProgressBarForeground-recording {
    background-color: #CB272A;
}

.countIndicator {
    background: var(--theme-primary-color);
}

.playedIndicator {
    background: var(--theme-primary-color);
}

/* main nav drawer */
.mainDrawer {
    background: #fafafa;
}

@media(hover: hover) and (pointer: fine) {
    .navMenuOption:hover {
        background: #e8e8e8;
    }
}

.navMenuOption-selected {
    background-color: var(--theme-icon-focus-background) !important;
    color: var(--theme-primary-text-color);
}

/* emby-button */
.emby-button-focusscale:focus, .emby-button-focusscale:focus .detailButton-icon {
    background: var(--theme-primary-color);
    color: #fff;
}

/* emby-tabs */
.emby-tab-button {
    color: #fff;
    color: rgba(255, 255, 255, .5);
}

.emby-tab-button-active {
    color: #fff;
    color: rgba(255, 255, 255, 1);
}

.emby-tab-button-active.emby-button-tv {
    color: #fff;
    color: rgba(255, 255, 255, 1);
}

.emby-tab-button.emby-button-tv:focus {
    color: #fff;
    color: rgba(255, 255, 255, 1);
    background: transparent;
}

.dockedtabs-tab-button {
    color: #000;
    color: rgba(000, 000, 000, .5);
}

    .dockedtabs-tab-button.emby-tab-button-active {
        color: var(--theme-primary-color);
    }

/* guide */
.guide-channelHeaderCell, .channelPrograms, .programCell {
    border-color: rgba(0,0,0,.12);
}

.programCell-sports {
    background: #3949AB !important;
}

.programCell-movie {
    background: #5E35B1 !important;
}

.programCell-kids {
    background: #039BE5 !important;
}

.programCell-news {
    background: #43A047 !important;
}

.programCell-active {
    background: rgba(0,0,0,.1) !important;
}

.programCell:focus, .guide-channelHeaderCell:focus {
    background-color: var(--theme-primary-color) !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(0, 0, 0, .54);
}

    .guide-date-tab-button.emby-tab-button-active {
        color: var(--theme-primary-text-color);
    }

    .guide-date-tab-button:focus {
        color: var(--theme-primary-text-color);
    }

    .guide-date-tab-button.emby-button-tv:focus {
        background-color: var(--theme-primary-color);
        color: #fff;
    }

/* detail screen */
.itemBackdropFader {
    background: linear-gradient(rgba(0,0,0,0), #fafafa);
}

/* used by directory picker and other areas */
.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    border-radius: .3em;
}

/* buttons */
.ratingbutton-icon-withrating {
    /* Important so that it's not lost on detailButton focus */
    color: #cc3333 !important;
}

.downloadbutton-icon-on {
    color: #4285F4;
}

.downloadbutton-icon-complete {
    color: #4285F4;
}

.playstatebutton-icon-played {
    /* Important so that it's not lost on detailButton focus */
    color: #cc3333 !important;
}

.repeatButton-active {
    color: #4285F4;
}

/* cards */

.card:focus .card-focuscontent {
    border-color: var(--theme-primary-color);
}

.cardContent-button {
    background-color: transparent;
}

.cardContent-shadow {
    background-color: #eee;
}

.defaultCardBackground0 {
    background-color: #eee;
}

.defaultCardBackground1 {
    background-color: #009688;
    color: #fff !important;
}

.defaultCardBackground2 {
    background-color: #D32F2F;
    color: #fff !important;
}

.defaultCardBackground3 {
    background-color: #0288D1;
    color: #fff !important;
}

.defaultCardBackground4 {
    background-color: #388E3C;
    color: #fff !important;
}

.defaultCardBackground5 {
    background-color: #F57F17;
    color: #fff !important;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.14);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: .1em;
    background: rgba(0,0,0,.2) no-repeat center;
}

/* emby-slider */
.emby-slider-background {
    background: rgba(0,0,0,.3);
}

.emby-slider {
    color: var(--theme-primary-color);
}

    .emby-slider::-moz-range-track {
        background: #444;
    }

    .emby-slider::-moz-range-progress {
        background: var(--theme-primary-color);
    }

    .emby-slider::-webkit-slider-thumb {
        background: var(--theme-primary-color);
    }

    .emby-slider::-moz-range-thumb {
        background: var(--theme-primary-color);
    }

    .emby-slider::-ms-thumb {
        background: var(--theme-primary-color);
    }

.emby-slider-background-lower {
    background-color: var(--theme-primary-color);
}

/* scrollbuttons */
.scrollbuttoncontainer {
    color: #fff;
    background: rgba(0,0,0,.9);
}

.recordingIcon-active {
    color: #cc3333 !important;
}

.drawerLogo {
    background-image: url(../logodark.png);
    border-bottom-color: rgba(0,0,0,.08);
}
