.pageTitle {
    vertical-align: middle;
    margin: 0 0 0 .25em;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pageTitleWithLogo {
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13.2em;
    height: 1.6em;
    margin-left: .5em;
}

.pageTitleWithDefaultLogo {
    /* To prevent the element from taking up too much space in mobile layouts */
    width: 6em;
}

.headerButton {
    flex-shrink: 0;
}

.headerUserButtonImage {
    border-radius: 1000px;
}

.skinHeader {
    /* This will ensure it is on top of the main body */
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    contain: layout style paint;
    padding-top: 0;
    padding-top: var(--window-inset-top);
}

.headerTop {
    padding: .8em 0;
    padding-top: calc(.8em - (var(--window-inset-top) * 0.3));
    position: relative;
}

.headerTop-withSectionTabs {
    padding-bottom: 3.82em;
}

@media all and (min-width: 120em) {

    .headerTop {
        padding: 1.489em 0 !important;
        padding-top: calc(1.489em - (var(--window-inset-top) * 0.3)) !important;
    }
}

.headerLeft {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-left: .25em;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    flex-shrink: 0;
    flex-grow: 1;
    padding-right: .25em;
}

.headerLeft, .headerRight {
    /* This exists only to ensure the header is about the same height with and without tabs */
    min-height: 3.127em;
}

.headerMiddle {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-grow: 1;
}

.sectionTabs {
    text-align: center;
}

.headerClock {
    margin: 0 1em 0 .5em;
    display: inline-block;
    vertical-align: middle;
}

.headerSelectedPlayer {
    font-weight: normal;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 37.5em) {
    .headerSelectedPlayer {
        display: none;
    }
}

@media all and (max-width: 45em) {

    .headerClock {
        display: none !important;
    }
}

@media all and (max-width: 64em) {

    .sectionTabs {
        font-size: 96%;
    }
}

@media all and (min-width: 120em) {

    .headerMiddle {
        align-items: center;
        justify-content: center;
        position: static;
    }

    .headerPartFixedWidth {
        width: 18%;
    }

    .layout-tv.withSectionTabs .pageTitle:not(.pageTitleWithDefaultLogo) {
        display: none !important;
    }

    .withSectionTabs .headerRight {
        flex-grow: 0;
    }
}

@media all and (max-width: 60em) {

    .headerManageServerButton {
        display: none !important;
    }
}

@media all and (max-width: 48em) {

    .btnHeaderPremiere {
        display: none !important;
    }
}

@media (pointer: coarse) {
    .headerManageServerButton {
        display: none !important;
    }
}

.pageTitleTextHide {
    display: none !important;
}

.btnHeaderSelectLibrary {
    padding: 0 0 !important;
    margin: 0 !important;
    display: flex !important;
}

@media all and (min-width: 60em) {

    .pageTitleTextHide {
        display: block !important;
    }

    .btnHeaderSelectLibrary {
        display: none !important;
    }
}
