html, .skinHeader {
    color: #222;
    color: rgba(0, 0, 0, .87);
}

.emby-collapsible-button {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, .158);
}

.collapseContent {
    background-color: #eaeaea;
}

.skinHeader-withBackground {
    background-color: #cc3333;
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    color: #fff;
    /*background-image: linear-gradient(to right,#BCBCBC, #A7B4B7, #BEB5A5, #ADBEC2, #B9C7CB);*/
}

.osdHeader {
    box-shadow: none !important;
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, .3);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    box-shadow: none !important;
}

.pageTitleWithDefaultLogo {
    background-image: url(../logowhite.png);
}

html, .backgroundContainer {
    background-color: #fafafa;
    /*background-image: linear-gradient(to bottom,#C2D4DE, #EBFAFE, #E3DCD4, #CED6D8, #C0D3DA);*/
}

    .backgroundContainer.withBackdrop {
        background-color: rgba(255,255,255, .94);
    }

.dialog {
    background-color: #f0f0f0;
}

/* buttons */
.paper-icon-button-light:focus {
    color: #cc3333;
    background-color: rgba(204, 51, 51, 0.2);
}

.skinHeader-withBackground .paper-icon-button-light:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.raised, .fab {
    background: #d8d8d8;
    color: inherit;
}

    .raised:focus, .fab:focus {
        background: #ccc;
        color: inherit;
    }

.detailButton-mobile-icon {
    border-color: rgba(0,0,0,.3);
}

.button-submit:not(.emby-button-tv) {
    background: #cc3333;
    color: #fff;
}

    .button-submit:not(.emby-button-tv):focus {
        background: #D83F3F;
        color: #fff;
    }

.checkboxLabel {
    color: inherit;
}

.paperListLabel, .inputLabelUnfocused, .textareaLabelUnfocused, .inputLabel, .checkboxListLabel {
    color: #555;
}

.selectLabelFocused, .textareaLabelFocused, .inputLabelFocused, .button-link {
    color: #cc3333;
}

.checkboxOutline {
    border-color: currentColor;
}

.paperList {
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: .25em;
}

.visualCardBox {
    background-color: #fff;
}

.defaultCardBackground0 {
    background-color: #eee;
}

.defaultCardBackground1 {
    background-color: #009688;
    color: #fff !important;
}

.defaultCardBackground2 {
    background-color: #D32F2F;
    color: #fff !important;
}

.defaultCardBackground3 {
    background-color: #0288D1;
    color: #fff !important;
}

.defaultCardBackground4 {
    background-color: #388E3C;
    color: #fff !important;
}

.defaultCardBackground5 {
    background-color: #F57F17;
    color: #fff !important;
}

.formDialogHeader:not(.formDialogHeader-clear) {
    background-color: #cc3333;
    color: #fff;
}

.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    border-top: 1px solid rgba(0,0,0,.08);
    color: inherit;
}

.listItem .secondary, .nowPlayingBarSecondaryText, .secondaryText, .fieldDescription, .cardText-secondary, .programSecondaryTitle, .guide-programNameCaret {
    color: #888;
    color: rgba(0, 0, 0, .6);
}

.actionsheetDivider {
    background: #ddd;
    background: rgba(0, 0, 0, .14);
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: .5;
}

.formDialogHeader a {
    color: #fff;
}

.actionSheetMenuItem:hover {
    background-color: #ddd;
}

.toast {
    background: #303030;
    color: #fff;
    color: rgba(255, 255, 255, .87);
}

/* appfooter */
.appfooter {
    background: #ffffff;
    border-top: 1px solid #e2e2e2;
}

.nowPlayingBarSecondaryText {
    color: rgba(255, 255, 255, .5);
}

/* Multi-select */
.itemSelectionPanel {
    border: 1px solid #cc3333;
}

.selectionCommandsPanel {
    background: #cc3333;
    color: #fff;
}

/* upNextDialog */
.upNextDialog-countdownText {
    color: #cc3333;
}

/* alphaPicker */
.alphaPickerButton {
    color: #555;
    color: rgba(0, 0, 0, .6);
    background-color: transparent;
}

.alphaPickerButton-selected, .alphaPickerButton-tv:focus {
    background-color: #cc3333;
    color: #fff !important;
}

/* listItem */
.detailTableBodyRow-shaded:nth-child(even) {
    background: #f8f8f8;
}

.listItem-border {
    border-color: rgba(0,0,0,.1) !important;
}

.listItem:focus {
    background: #ddd;
}

.progressring-spiner {
    border-color: #cc3333;
}

.mediaInfoText {
    color: #333;
    background: #fff;
}

.starIcon {
    color: #CB272A;
}

.mediaInfoTimerIcon {
    color: #CB272A;
}

/* inputs */
.emby-input, .emby-textarea {
    color: inherit;
    background: #fff;
    border: .07em solid rgba(0, 0, 0, .158);
    border-radius: .15em;
}

    .emby-input:focus, .emby-textarea:focus {
        border-color: #cc3333;
    }

/* select */
.emby-select-withcolor {
    color: inherit;
    background: #fff;
    border: .07em solid rgba(0, 0, 0, .158);
}

    .emby-select-withcolor > option {
        color: #000;
        background: #fff;
    }

    .emby-select-withcolor:focus {
        border-color: #cc3333;
    }

.emby-select-tv-withcolor:focus {
    background-color: #cc3333;
    color: #fff;
}

/* checkbox */
.emby-checkbox:checked + span + span + .checkboxOutline {
    border-color: #cc3333;
}

.emby-checkbox:focus + span + .emby-checkbox-focushelper {
    background-color: rgba(204,51,51, 0.26);
}

.emby-checkbox:checked + span + span + .checkboxOutline {
    background-color: #cc3333;
}

/* indicators */
.itemProgressBarForeground {
    background-color: #cc3333;
}

.itemProgressBarForeground-recording {
    background-color: #CB272A;
}

.countIndicator {
    background: #cc3333;
}

.playedIndicator {
    background: #cc3333;
}

.fullSyncIndicator {
    background: #cc3333;
    color: #fff;
}

/* main nav drawer */
.mainDrawer {
    background: #f2f2f2;
}

.navMenuOption:hover {
    background: #e8e8e8;
}

.navMenuOption-selected {
    background: #cc3333 !important;
    color: #fff;
}

/* emby-button */
.emby-button-focusscale:focus {
    background: #cc3333;
    color: #fff;
}

/* emby-tabs */
.emby-tab-button {
    color: #fff;
    color: rgba(255, 255, 255, .5);
}

.emby-tab-button-active {
    color: #fff;
    color: rgba(255, 255, 255, 1);
}

.appfooter .emby-tab-button {
    color: rgba(0, 0, 0, .6);
}

.appfooter .emby-tab-button-active {
    color: #cc3333;
}

.emby-tab-button-active.emby-button-tv {
    color: #fff;
    color: rgba(255, 255, 255, 1);
}

.emby-tab-button.emby-button-tv:focus {
    color: #fff;
    color: rgba(255, 255, 255, 1);
    background: transparent;
}

/* guide */
.guide-channelHeaderCell, .channelPrograms, .programCell {
    border-color: rgba(0,0,0,.12);
}

.programCell-sports {
    background: #3949AB !important;
}

.programCell-movie {
    background: #5E35B1 !important;
}

.programCell-kids {
    background: #039BE5 !important;
}

.programCell-news {
    background: #43A047 !important;
}

.programCell-active {
    background: rgba(0,0,0,.1) !important;
}

.programCell:focus, .guide-channelHeaderCell:focus {
    background-color: #cc3333 !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(0, 0, 0, .54);
}

    .guide-date-tab-button.emby-tab-button-active {
        color: #52B54B;
    }

    .guide-date-tab-button:focus {
        color: #52B54B;
    }

    .guide-date-tab-button.emby-button-tv:focus {
        background-color: #52B54B;
        color: #fff;
    }

/* detail screen */
.itemBackdropFader {
    background: linear-gradient(rgba(0,0,0,0), #fafafa);
}

/* used by directory picker and other areas */
.infoBanner {
    color: #000;
    background: #fff3a5;
    padding: 1em;
    border-radius: .25em;
}

/* buttons */
.ratingbutton-icon-withrating {
    color: #cc3333;
}

.downloadbutton-icon-on {
    color: #4285F4;
}

.downloadbutton-icon-complete {
    color: #4285F4;
}

.playstatebutton-icon-played {
    color: #cc3333;
}

.repeatButton-active {
    color: #4285F4;
}

/* cards */
.card:focus .card-focuscontent {
    border-color: #cc3333;
}

/* emby-slider */
.emby-slider-background {
    background: rgba(0,0,0,.1);
}

.emby-slider {
    color: #cc3333;
}

    .emby-slider::-moz-range-track {
        background: #444;
    }

    .emby-slider::-moz-range-progress {
        background: #cc3333;
    }

    .emby-slider::-webkit-slider-thumb {
        background: #cc3333;
    }

    .emby-slider::-moz-range-thumb {
        background: #cc3333;
    }

    .emby-slider::-ms-thumb {
        background: #cc3333;
    }

.emby-slider-background-lower {
    background-color: #52B54B;
}

/* scrollbuttons */
.scrollbuttoncontainer {
    color: #fff;
    background: rgba(0,0,0,.9);
}
