.detailButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .85em .6em 0 0 !important;
    text-align: center;
    flex-shrink: 0;
    padding: 0 !important;
    background: transparent !important;
    color: inherit !important;
}

    .detailButton.emby-button-focusscale:focus {
        transform: scale(1.2);
    }

.detailButton-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailButton-icon {
    font-size: 1.26em !important;
    border-radius: 50%;
    padding: .5em;
    border-width: 1px;
    border-style: solid;
}

.detailButton-text {
    max-width: 6.2em;
}

@media all and (min-width: 25em) {

    .detailButton-icon {
        font-size: 1.6em !important;
    }
}

@media not all and (min-width: 31.25em) {

    .detailButton-hidemobile {
        display: none !important;
    }
}

@media all and (min-width: 31.25em) {

    .detailButton-icon {
        font-size: 1.7em !important;
    }
}

@media all and (min-width: 40em) {

    .detailButton-icon {
        padding: .4em 0;
        border: 0 !important;
        border-radius: .2em;
        width: 100%;
        min-width: 3em;
    }

    .detailButton-text {
        max-width: 8em;
    }
}

@media not all and (min-width: 40em) {

    .detailButton-icon {
        background: transparent !important;
        -webkit-backdrop-filter: none !important;
        backdrop-filter: none !important;
    }
}

@media not all and (min-width: 50em) {

    .detailButton-text {
        font-size: 88%;
    }
}
