.verticalSection-extrabottompadding {
    margin-bottom: 2.7em;
}

.sectionTitleContainer {
    margin: 1.25em 0;
}

.sectionTitleContainer-cards {
    margin-bottom: 0;
}

.sectionTitle {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.sectionTitle-cards {
    margin-left: .23em;
    margin-bottom: 0;
}

@media all and (min-width: 50em) {

    .sectionTitle-cards {
        margin-left: .525em;
    }
}

.sectionTitleContainer > .sectionTitle {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.sectionTitleButton {
    margin-left: 1.5em !important;
    margin-right: 0 !important;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
}

    .sectionTitleButton + .sectionTitleButton {
        margin-left: .5em !important;
    }

.sectionTitleIconButton {
    margin-left: 1em !important;
    margin-right: 0 !important;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    padding: .5em !important;
}

.horizontalItemsContainer {
    display: flex;
}

.sectionTitleTextButton {
    margin: 0 !important;
    display: inline-flex !important;
    color: inherit !important;
}

    .sectionTitleTextButton:not(.padded-left) {
        padding: 0 !important;
    }

    .sectionTitleTextButton.padded-left {
        padding-bottom: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }

    .sectionTitleTextButton > .sectionTitle {
        margin-bottom: 0;
        margin-top: 0;
    }

.padded-left {
    padding-left: 3.3%;
}

.padded-right {
    padding-right: 3.3%;
}

.padded-top {
    padding-top: 1em;
}

.padded-bottom {
    padding-bottom: 1em;
}

.padded-bottom-page {
    padding-bottom: 9em;
}

.layout-tv .padded-top-focusscale {
    padding-top: 1em;
    margin-top: -1em;
}

.layout-tv .padded-bottom-focusscale {
    padding-bottom: 1em;
    margin-bottom: -1em;
}

@media all and (min-height: 31.25em) {

    .padded-left-withalphapicker {
        padding-left: 7.5%;
    }

    .padded-right-withalphapicker {
        padding-right: 7.5%;
    }
}

@media all and (min-height: 31.25em) and (min-width: 40em) {

    .padded-left-withalphapicker {
        padding-left: 6%;
    }

    .padded-right-withalphapicker {
        padding-right: 6%;
    }
}

@media all and (min-width: 50em) {

    .padded-left {
        padding-left: 3.3%;
    }

    .padded-right {
        padding-right: 3.3%;
    }

    .layout-tv .padded-left-withalphapicker {
        padding-left: 4.5%;
    }

    .layout-tv .padded-right-withalphapicker {
        padding-right: 4.5%;
    }
}
