.emby-tab-button {
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    outline: none !important;
    width: auto;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    margin: 0;
    padding: 1em .9em;
    position: relative;
    height: auto;
    min-width: initial;
    line-height: initial;
    border-radius: 0 !important;
    overflow: hidden;
    color: #999;
    font-weight: 500;
}

    .emby-tab-button.emby-button-tv {
        padding: .4em .9em;
        font-weight: 400;
    }

.emby-tab-button-active {
    color: #52B54B;
}

    .emby-tab-button-active.emby-button-tv {
        color: #fff;
    }

.emby-tab-button.emby-button-tv:focus {
    color: #52B54B;
    transform: scale(1.26);
}

.emby-tabs-slider {
    position: relative;
}

.emby-tab-button-ripple-effect {
    background: #222 !important;
}

.tabContent:not(.is-active) {
    display: none;
}
