/*@import url('https://fonts.googleapis.com/css?family=Creepster');*/
@import url('https://fonts.googleapis.com/css?family=Eater');

h1 {
    font-family: Eater;
    font-weight: normal !important;
    font-size: 1.566em !important;
}

h2 {
    font-family: Eater;
    font-weight: normal !important;
    font-size: 1.305em !important;
}

.sectionTabs button, .userViewNames .btnUserViewHeader {
    font-family: Eater !important;
    font-size: 87% !important;
}

html {
    color: #ddd;
    color: rgba(255, 255, 255, .87);
}

.emby-collapsible-button {
    border-color: #383838;
    border-color: rgba(255,255,255, .135);
}

.skinHeader-withBackground, .appfooter, .formDialogHeader:not(.formDialogHeader-clear), .formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #282828;
}

@supports ( (backdrop-filter: blur(1em)) or (-webkit-backdrop-filter: blur(1em)) ) {

    .appfooter {
        background: rgba(34,34,34,.7);
        -webkit-backdrop-filter: blur(1.25em);
        backdrop-filter: blur(1.25);
    }
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, .3);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}

.pageTitleWithDefaultLogo {
    background-image: url(../logowhite.png);
}

html, .dialog, .backgroundContainer {
    background-color: #202020;
}

    .backgroundContainer.withBackdrop {
        background-color: rgba(0,0,0,.86);
    }

/* buttons */
.paper-icon-button-light:focus {
    color: #FF9100;
    background-color: rgba(255, 145, 0, 0.2);
}

.raised, .fab {
    background: #333;
    background-color: rgba(60,60,60,.7);
    color: rgba(255, 255, 255, .87);
}

    .raised:focus, .fab:focus {
        background-color: rgba(90,90,90,.5);
    }

.detailButton-mobile-icon {
    border-color: rgba(255, 255, 255, .3);
}

.button-submit:not(.emby-button-tv) {
    background: #FF9100;
    color: #fff;
}

    .button-submit:not(.emby-button-tv):focus {
        background: #FF9D0C;
        color: #fff;
    }

.checkboxLabel {
    color: inherit;
}

.paperListLabel, .inputLabelUnfocused, .textareaLabelUnfocused, .inputLabel, .checkboxListLabel {
    color: #bbb;
    color: rgba(255, 255, 255, .6);
}

.selectLabelFocused, .textareaLabelFocused, .inputLabelFocused {
    color: #FF9100;
}

.checkboxOutline {
    border-color: currentColor;
}

.paperList, .visualCardBox, .collapseContent, .defaultCardBackground0 {
    background-color: rgba(60,60,60,.3);
}

.defaultCardBackground1 {
    background-color: #d2b019;
}

.defaultCardBackground2 {
    background-color: #338abb;
}

.defaultCardBackground3 {
    background-color: #6b689d;
}

.defaultCardBackground4 {
    background-color: #dd452b;
}

.defaultCardBackground5 {
    background-color: #5ccea9;
}

.listItem .secondary, .nowPlayingBarSecondaryText, .secondaryText, .fieldDescription, .cardText-secondary, .programSecondaryTitle, .guide-programNameCaret {
    color: #999;
    color: rgba(255, 255, 255, .6);
}

.actionsheetDivider {
    background: #444;
    background: rgba(255, 255, 255, .14);
}

.cardFooter-vibrant .cardText-secondary {
    color: inherit;
    opacity: .5;
}

.actionSheetMenuItem:hover {
    background-color: #272727;
}

.toast {
    background: #333;
    color: #fff;
    color: rgba(255, 255, 255, .87);
}

/* Multi-select */
.itemSelectionPanel {
    border: 1px solid #FF9100;
}

.selectionCommandsPanel {
    background: #FF9100;
    color: #fff;
}

/* upNextDialog */
.upNextDialog-countdownText {
    color: #FF9100;
}

/* alphaPicker */
.alphaPickerButton {
    color: #999;
    color: rgba(255, 255, 255, .6);
    background-color: transparent;
}

.alphaPickerButton-selected {
    color: #fff;
}

.alphaPickerButton-tv:focus {
    background-color: #FF9100;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #1c1c1c;
    background: rgba(30, 30, 30, .9);
}

.listItem-border {
    border-color: rgba(255,255,255,.1) !important;
}

.listItem:focus {
    background: #363636;
}

.progressring-spiner {
    border-color: #FF9100;
}

.button-link {
    color: #FF9100;
}

.button-flat-accent {
    color: #FF9100;
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170,170,190, .2);
}

.starIcon {
    color: #CB272A;
}

.mediaInfoTimerIcon {
    color: #CB272A;
}

/* inputs */
.emby-input, .emby-textarea {
    color: inherit;
    background: #333;
    border: .07em solid #333;
    border-radius: .15em;
}

    .emby-input:focus, .emby-textarea:focus {
        border-color: #FF9100;
    }

/* select */
.emby-select-withcolor {
    color: inherit;
    background: #333;
    border: .07em solid #333;
}

    .emby-select-withcolor > option {
        color: inherit;
        background: #222;
    }

    .emby-select-withcolor:focus {
        border-color: #FF9100 !important;
    }

.emby-select-tv-withcolor:focus {
    background-color: #FF9100 !important;
    color: #fff !important;
}

/* checkbox */
.emby-checkbox:checked + span + span + .checkboxOutline {
    border-color: #FF9100;
}

.emby-checkbox:focus + span + .emby-checkbox-focushelper {
    background-color: rgba(204, 51, 51, 0.26);
}

.emby-checkbox:checked + span + span + .checkboxOutline {
    background-color: #FF9100;
}

/* indicators */
.itemProgressBarForeground {
    background-color: #FF9100;
}

.itemProgressBarForeground-recording {
    background-color: #CB272A;
}

.countIndicator {
    background: #FF9100;
}

.playedIndicator {
    background: #FF9100;
}

.fullSyncIndicator {
    background: #FF9100;
    color: #fff;
}

/* main nav drawer */
.mainDrawer {
    background-color: #1c1c1c;
}

.navMenuOption:hover {
    background: #252528;
}

.navMenuOption-selected {
    background: #FF9100 !important;
    color: #fff;
}

/* emby-button */
.emby-button-focusscale:focus {
    background: #FF9100;
    color: #fff;
}

/* emby-tabs */
.emby-tab-button {
    color: #999;
    color: rgba(255, 255, 255, .5);
}

.emby-tab-button-active {
    color: #FF9100;
}

    .emby-tab-button-active.emby-button-tv {
        color: #fff;
    }

.emby-tab-button.emby-button-tv:focus {
    color: #FF9100;
    background: transparent;
}

/* guide */
.guide-channelHeaderCell, .channelPrograms, .programCell {
    border-color: rgba(255,255,255,.05);
}

.programCell-sports {
    background: #3949AB !important;
}

.programCell-movie {
    background: #5E35B1 !important;
}

.programCell-kids {
    background: #039BE5 !important;
}

.programCell-news {
    background: #43A047 !important;
}

.programCell-active {
    background: #1e1e1e !important;
}

.programCell:focus, .guide-channelHeaderCell:focus {
    background-color: #FF9100 !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

.guide-date-tab-button {
    color: #555;
    color: rgba(255,255,255,.3);
}

    .guide-date-tab-button.emby-tab-button-active {
        color: #FF9100;
    }

    .guide-date-tab-button:focus {
        color: #FF9100;
    }

    .guide-date-tab-button.emby-button-tv:focus {
        background-color: #FF9100;
        color: #fff;
    }

/* detail screen */
.itemBackdropFader {
    background: linear-gradient(rgba(0,0,0,0), #202020);
}

/* used by directory picker and other areas */
.infoBanner {
    color: #ddd;
    background: #111;
    padding: 1em;
    border-radius: .25em;
}

/* buttons */
.ratingbutton-icon-withrating {
    color: #FF9100;
}

.downloadbutton-icon-on {
    color: #4285F4;
}

.downloadbutton-icon-complete {
    color: #4285F4;
}

.playstatebutton-icon-played {
    color: #FF9100;
}

.repeatButton-active {
    color: #4285F4;
}

/* cards */
.cardContent-shadow {
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.card:focus .card-focuscontent {
    border-color: #FF9100;
}

/* scrollbars */
.layout-desktop ::-webkit-scrollbar {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(255,255,255,.14);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: .1em;
    background: rgba(255,255,255,.4) no-repeat center;
}

.timeslotHeaders-desktop::-webkit-scrollbar {
    height: .7em;
}

/* emby-slider */
.emby-slider-background {
    background: rgba(255,255,255,.1);
}

.emby-slider {
    color: #FF9100;
}

    .emby-slider::-moz-range-track {
        background: #444;
    }

    .emby-slider::-moz-range-progress {
        background: #FF9100;
    }

    .emby-slider::-webkit-slider-thumb {
        background: #FF9100;
    }

    .emby-slider::-moz-range-thumb {
        background: #FF9100;
    }

    .emby-slider::-ms-thumb {
        background: #FF9100;
    }

.emby-slider-background-lower {
    background-color: #FF9100;
}

/* scrollbuttons */
.scrollbuttoncontainer {
    color: #000;
    background: rgba(255,255,255,.9);
}
