.mediaInfoItem {
    margin: 0 1em 0 0;
}

iron-icon.mediaInfoItem {
    width: 4vh;
    height: 4vh;
    margin-right: .6em;
}

.mediaInfoItem:last-child {
    margin-right: 0;
}

.starRatingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
    .starRatingContainer iron-icon {
        width: 3.4vh;
        height: 3.4vh;
        color: #CB272A;
    }
