paper-dialog.dialog {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    max-width: none !important;
    max-height: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogContent {
    max-width: 50%;
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

    .dialogContent paper-button {
        width: 50%;
        margin: .25em auto;
    }

.dialogMessage {
    margin: 1.5em 0;
}

.dialogTitle {
    margin-top: 0;
}
