.emby-scrollbuttons-scroller {
    position: relative;
}

.scrollbuttoncontainer {
    position: absolute;
    top: 10%;
    bottom: 30%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 1.9em;
    display: none;
    overflow: hidden;
    border-radius: .15em;
}

.emby-scrollbuttons-scroller:hover .scrollbuttoncontainer {
    display: flex;
}

.scrollbuttoncontainer-left {
    left: 0;
}

.scrollbuttoncontainer-right {
    right: 0;
}

.emby-scrollbuttons-scrollbutton {
    margin: 0 -.2em;
    transition: transform 160ms ease-out;
}

.scrollbuttoncontainer:hover > .emby-scrollbuttons-scrollbutton {
    transform: scale(1.3, 1.3);
}

.emby-scrollbuttons-scrollbutton:after {
    content: '';
    display: none !important;
}

.emby-scrollbuttons-scrollbutton:focus {
    color: inherit !important;
}
