_:-ms-input-placeholder {
    -ms-appearance: none;
    height: 2.223em;
    margin: 0;
}

.emby-slider {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    height: .18em;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 1em 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    /* Disable webkit tap highlighting */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
    /**************************** Tracks ****************************/
    /**************************** Thumbs ****************************/
    /**************************** 0-value ****************************/
    /**************************** Disabled ****************************/
}

    .emby-slider::-moz-focus-outer {
        border: 0;
    }

    .emby-slider::-ms-tooltip {
        display: none;
    }

    .emby-slider::-webkit-slider-runnable-track {
        background: transparent;
    }

    .emby-slider::-moz-range-track {
        border: none;
    }

    .emby-slider::-ms-track {
        background: none;
        color: transparent;
        height: .18em;
        width: 100%;
        border: none;
    }

    .emby-slider::-ms-fill-lower {
        display: none;
    }

    .emby-slider::-ms-fill-upper {
        display: none;
    }

    .emby-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1.8em;
        height: 1.8em;
        box-sizing: border-box;
        border-radius: 50%;
        border: none;
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), border 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

.emby-slider-smallthumb::-webkit-slider-thumb {
    width: 1.26em;
    height: 1.26em;
}

.emby-slider:hover::-webkit-slider-thumb {
    transform: scale(1.43, 1.43);
}

.slider-no-webkit-thumb::-webkit-slider-thumb {
    opacity: 0 !important;
}

.emby-slider::-moz-range-thumb {
    -moz-appearance: none;
    width: 1.8em;
    height: 1.8em;
    box-sizing: border-box;
    border-radius: 50%;
    background-image: none;
    border: none;
}

.emby-slider::-ms-thumb {
    -webkit-appearance: none;
    width: 1.8em;
    height: 1.8em;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), border 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.emby-slider-smallthumb::-ms-thumb {
    width: 1.26em;
    height: 1.26em;
}

.emby-slider:hover::-ms-thumb {
    transform: scale(1.43, 1.43);
}

.emby-slider[disabled]::-webkit-slider-thumb {
    display: none;
}

.emby-slider[disabled]::-moz-range-thumb {
    display: none;
}

.emby-slider[disabled]::-ms-thumb {
    display: none;
}

.emby-slider-ie-container {
    height: 1.25em;
    overflow: visible;
    border: none;
    margin: 0;
    padding: 0;
}

.emby-slider-container {
    height: 1.25em;
    position: relative;
    background: none;
    display: flex;
    flex-direction: row;
}

.emby-slider-background {
    position: absolute;
    height: .18em;
    margin-top: -.1em;
    width: 100%;
    top: 50%;
    left: 0;
    display: flex;
    overflow: hidden;
    border: 0;
    padding: 0;
}

.emby-slider-background-inner {
    position: relative;
    width: 100%;
}

.emby-slider-background-lower {
    /*transition: width 0.18s cubic-bezier(0.4, 0, 0.2, 1);*/
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    bottom: 0;
}

.emby-slider-background-lower-clear {
    background-color: transparent;
}

.emby-slider-background-lower-withtransform {
    width: 100%;
    /*transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);*/
    transform-origin: left center;
    transform: scaleX(0);
}

.emby-slider-background-upper {
    /*transition: left 0.18s cubic-bezier(0.4, 0, 0.2, 1), width 0.18s cubic-bezier(0.4, 0, 0.2, 1);*/
    background: #666;
    background: rgba(255, 255, 255, .4);
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    bottom: 0;
}

.sliderBubble {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-48%, -120%, 0);
    background: #282828;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderBubbleText {
    margin: 0;
    padding: .5em .75em;
}
