html {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", system-ui, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", 'Open Sans', sans-serif;
}

html {
    font-size: 90.15%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

h1, h2, h3 {
    /* For better bolding, since Helvetica does not support 500 weight, and 600 is too thick */
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", system-ui, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", 'Open Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 1.8em;
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-weight: 600;
    font-size: 1.17em;
}

.layout-tv {
    font-size: 2.5vh;
}