html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", 'Open Sans', sans-serif;
}

html {
    font-size: 88%;
}

h1 {
    font-weight: normal;
    font-size: 1.8em;
}

h2 {
    font-weight: normal;
    font-size: 1.5em;
}

h3 {
    font-weight: normal;
    font-size: 1.17em;
}

.layout-tv {
    font-size: 2.5vh;
}