button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    -webkit-border-fit: border !important;
}

.card {
    border: 0;
    font-size: inherit !important;
    font-family: inherit !important;
    text-transform: none;
    background-color: transparent !important;
    background: none !important;
    margin: 0;
    padding: 0;
    display: block;
    color: inherit !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none !important;
    cursor: pointer;
    contain: layout style;
    flex-shrink: 0;
    font-weight: inherit !important;
}

.card-nofocustransform {
    contain: layout style paint;
}

.itemsContainer {
    display: flex;
}

.vertical-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.vertical-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .vertical-wrap.centered {
        justify-content: center;
    }

.cardScalable {
    position: relative;
    contain: layout style;
}

.cardPadder-backdrop, .cardPadder-mixedBackdrop, .cardPadder-smallBackdrop, .cardPadder-overflowBackdrop {
    padding-bottom: 56.25%;
    contain: strict;
}

.cardPadder-square, .cardPadder-mixedSquare, .cardPadder-overflowSquare {
    padding-bottom: 100%;
    contain: strict;
}

.cardPadder-portrait, .cardPadder-mixedPortrait, .cardPadder-overflowPortrait, .overflowPortraitCard-textCardPadder {
    padding-bottom: 150%;
    contain: strict;
}

.cardPadder-banner {
    padding-bottom: 18.5%;
    contain: strict;
}

.cardBox {
    padding: 0 !important;
    margin: .28em .4em;
    transition: none;
    border: 0 solid transparent;
    /* These both are needed in case cardBox is a button */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none !important;
    contain: layout style;
}

@media all and (max-width: 50em) {

    .cardBox {
        margin: .28em;
    }
}

.card-focuscontent {
    border: .12em solid transparent;
    border-radius: .12em;
}

.card-focuscontent-large {
    border-width: .24em;
}

.cardBox-focustransform {
    will-change: transform;
    transition: transform 200ms ease-out;
}

.card:focus > .cardBox-focustransform {
    transform: scale(1.16, 1.16);
}

.cardBox-bottompadded {
    margin-bottom: 1.9em !important;
}

.layout-mobile .cardBox-bottompadded {
    margin-bottom: 1.2em !important;
}

.card:focus {
    position: relative !important;
    z-index: 10 !important;
    font-weight: inherit !important;
}

.btnCardOptions {
    position: absolute;
    bottom: .25em;
    right: 0;
    margin: 0 !important;
    z-index: 1;
}

.mediaSourceIndicator {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: .3em;
    left: .3em;
    text-align: center;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    color: #fff;
    background: rgb(51, 136, 204);
}

.cardImageContainer {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-clip: content-box !important;
    color: inherit;
    /* This is only needed for scalable cards */
    height: 100%;
    contain: strict;
}

.chapterCardImageContainer {
    background-color: #000;
    border-radius: 0;
}

.textCardImageContainer {
    background-color: #444;
}

.cardContent {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Needed in case this is a button */
    display: block;
    /* Needed in case this is a button */
    margin: 0 !important;
    /* Needed in safari */
    height: 100%;
    border-radius: .08em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none !important;
    contain: strict;
}

.cardContent-button {
    background-color: transparent;
    border: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    color: inherit;
    width: 100%;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
}

.visualCardBox .cardContent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cardContent-shadow {
    /*box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0 .145em .145em 0 rgba(0, 0, 0, 0.14), 0 0.0725em 0.3625em 0 rgba(0, 0, 0, 0.12), 0 0.2175em 0.0725em -.145em rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
}

.cardImageContainer {
    display: flex;
}

.cardImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.cardImage-img {
    max-height: 100%;
    max-width: 100%;
    /* This is simply for lazy image purposes, to ensure the image is visible sooner when scrolling */
    min-height: 70%;
    min-width: 70%;
    margin: auto;
}

.coveredImage-img {
    width: 100%;
    height: 100%;
}

.coveredImage-noscale-img {
    max-height: none;
    max-width: none;
}

.coveredImage {
    background-size: 100% 100%;
    background-position: center center;
}

.coveredImage-noScale {
    background-size: cover;
}

.cardFooter {
    padding: .3em .3em .5em .3em;
    position: relative;
}

.visualCardBox {
    /*box-shadow: 0 .145em .145em 0 rgba(0, 0, 0, 0.14), 0 0.0725em 0.3625em 0 rgba(0, 0, 0, 0.12), 0 0.2175em 0.0725em -.145em rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    border-radius: .145em;
}

.innerCardFooter {
    background: rgba(0,0,0,.7);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    z-index: 1;
    overflow: hidden;
    max-width: 100%;
    color: #fff;
}

.innerCardFooterClear {
    background-color: transparent;
}

.fullInnerCardFooter {
    right: 0;
}

.cardText {
    padding: .06em .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 93%;
}

.cardText-first {
    padding-top: .3em;
}

.layout-tv .cardText-first {
    padding-top: .16em;
}

.innerCardFooter > .cardText {
    padding: .3em .5em;
}

.cardFooter-withlogo {
    padding-left: 4em;
    position: relative;
}

.cardFooterLogo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4.5em;
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.cardTextCentered {
    text-align: center;
}

.card:focus .cardText {
    color: inherit;
}

.cardText-rightmargin {
    margin-right: 2em;
}

.cardDefaultText {
    white-space: normal;
    text-align: center;
}

.textActionButton {
    border: 0 !important;
    background: transparent;
    border: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none !important;
    color: inherit;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

    .textActionButton:hover {
        text-decoration: underline;
    }

.cardImageIcon {
    width: auto;
    height: auto;
    font-size: 5em;
    color: inherit;
}

.cardIndicators {
    right: .225em;
    top: .225em;
    position: absolute;
    display: flex;
    align-items: center;
    contain: layout style;
}

.cardProgramAttributeIndicators {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    text-transform: uppercase;
    font-size: 92%;
}

.programAttributeIndicator {
    padding: .18em .5em;
    color: #fff;
    font-weight: 500;
}

.cardOverlayButton {
    color: rgba(255, 255, 255, .76) !important;
    border-radius: 100em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 .35em .65em 0;
    z-index: 1;
    padding: .5em;
    background-color: rgba(0,0,0,.7) !important;
    font-size: 82%;
}

.cardOverlayButton-centered {
    bottom: initial;
    right: initial;
    position: static;
    position: absolute;
    display: flex;
    font-size: 112%;
    margin: -1.3em 0 0 -1.3em;
    width: 2.6em;
    height: 2.6em;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,.5) !important;
    border: 2.4px solid rgba(255,255,255,.6);
    padding: .38em !important;
    color: rgba(255, 255, 255, .76);
    transition: transform 200ms ease-out;
}

    .cardOverlayButton-centered:hover {
        transform: scale(1.2, 1.2);
    }

.cardOverlayButton-texticon {
    line-height: 1;
    background-color: rgba(0,0,0,.4) !important;
}

.cardOverlayButton-texticon-icon {
    font-style: normal;
}

.defaultCardColor1 {
    background-color: #009688;
}

.defaultCardColor2 {
    background-color: #D32F2F;
}

.defaultCardColor3 {
    background-color: #0288D1;
}

.defaultCardColor4 {
    background-color: #388E3C;
}

.defaultCardColor5 {
    background-color: #F57F17;
}

.bannerCard {
    width: 100%;
}

.backdropCard {
    width: 100%;
}

.smallBackdropCard {
    width: 50%;
}

.squareCard {
    width: 50%;
}

.portraitCard {
    width: 33.333333333333333333333333333333%;
}

.mixedPortraitCard {
    width: 12em;
}

.mixedSquareCard {
    width: 18em;
}

.mixedBackdropCard {
    width: 32em;
}

@media all and (min-width: 400px) {

    .backdropCard {
        width: 50%;
    }
}

@media all and (min-width: 500px) {

    .smallBackdropCard {
        width: 33.333333333333333333333333333333%;
    }

    .squareCard, .portraitCard {
        width: 33.333333333333333333333333333333%;
    }
}

@media all and (min-width: 700px) {
    .squareCard, .portraitCard {
        width: 25%;
    }
}

@media all and (min-width: 770px) {
    .backdropCard {
        width: 33.333333333333333333333333333333%;
    }
}

@media all and (min-width: 800px) {

    .bannerCard {
        width: 50%;
    }

    .squareCard, .portraitCard {
        width: 20%;
    }

    .smallBackdropCard {
        width: 25%;
    }
}

@media all and (min-width: 1000px) {


    .smallBackdropCard {
        width: 20%;
    }
}

@media all and (min-width: 1200px) {

    .backdropCard {
        width: 25%;
    }

    .squareCard, .portraitCard {
        width: 16.666666666666666666666666666667%;
    }

    .bannerCard {
        width: 33.333333333333333333333333333333%;
    }

    .smallBackdropCard {
        width: 16.666666666666666666666666666667%;
    }
}


@media all and (min-width: 1400px) {

    .squareCard, .portraitCard {
        width: 14.285714285714285714285714285714%;
    }

    .smallBackdropCard {
        width: 14.285714285714285714285714285714%;
    }
}

@media all and (min-width: 1600px) {

    .smallBackdropCard {
        width: 12.5%;
    }

    .backdropCard {
        width: 20%;
    }

    .squareCard, .portraitCard {
        width: 12.5%;
    }
}

@media all and (min-width: 1920px) {

    .squareCard, .portraitCard {
        width: 11.111111111111111111111111111111%;
    }
}

@media all and (min-width: 2100px) {

    .backdropCard {
        width: 20%;
    }
}

@media all and (min-width: 2200px) {

    .bannerCard {
        width: 25%;
    }

    .squareCard, .portraitCard {
        width: 10%;
    }
}

@media all and (min-width: 2500px) {

    .backdropCard {
        width: 16.666666666666666666666666666667%;
    }
}

.itemsContainer-tv > .backdropCard {
    width: 25%;
}

.itemsContainer-tv > .squareCard {
    width: 16.666666666666666666666666666667%;
}

.itemsContainer-tv > .portraitCard {
    width: 16.666666666666666666666666666667%;
}

/* Overflow cards */
@media all and (orientation: portrait) {
    .overflowPortraitCard {
        width: 42vw;
    }

    .overflowBackdropCard {
        width: 72vw;
    }

    .overflowSquareCard {
        width: 42vw;
    }
}

@media all and (orientation: landscape) {

    .overflowBackdropCard {
        width: 23.3vw;
    }

    .overflowSquareCard, .overflowPortraitCard {
        width: 15.5vw;
    }
}

@media all and (orientation: landscape) and (min-width: 1700px) {

    .overflowBackdropCard {
        width: 18.5vw;
    }

    .overflowSquareCard, .overflowPortraitCard {
        width: 11.6vw;
    }
}

@media all and (orientation: portrait) and (min-width: 400px) {
    .overflowPortraitCard {
        width: 31.5vw;
    }
}

@media all and (orientation: portrait) and (min-width: 540px) {
    .overflowBackdropCard {
        width: 64vw;
    }

    .overflowSquareCard {
        width: 31.5vw;
    }
}

@media all and (orientation: portrait) and (min-width: 640px) {
    .overflowBackdropCard {
        width: 56vw;
    }
}

@media all and (orientation: portrait) and (min-width: 760px) {

    .overflowPortraitCard {
        width: 23vw;
    }

    .overflowBackdropCard {
        width: 40vw;
    }

    .overflowSquareCard {
        width: 23vw;
    }
}

@media all and (orientation: portrait) and (min-width: 1200px) {

    .overflowPortraitCard {
        width: 18vw;
    }

    .overflowSquareCard {
        width: 18vw;
    }
}

@media all and (orientation: portrait) and (min-width: 1400px) {

    .overflowPortraitCard {
        width: 15vw;
    }

    .overflowSquareCard {
        width: 15vw;
    }

    .overflowBackdropCard {
        width: 30vw;
    }
}

@media all and (orientation: portrait) and (min-width: 1800px) {

    .overflowBackdropCard {
        width: 23.5vw;
    }
}

.itemsContainer-tv > .overflowBackdropCard {
    width: 23.3vw;
}

.overflowBackdropCard-textCard {
    width: 15.5vw !important;
}

.overflowBackdropCard-textCardPadder {
    padding-bottom: 87.75%;
}

.itemsContainer-tv > .overflowSquareCard, .itemsContainer-tv > .overflowPortraitCard {
    width: 15.5vw;
}
