.cardBox-round {
    border: .7em solid transparent !important;
}

.cardBox-focustransform {
    transition: transform 180ms ease-out !important;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.cardImageContainer-round {
    border: .15em solid transparent;
}

.cardImageContainer-round {
    border-color: #fff;
}

.card-round:focus > .cardBox-focustransform {
    transform: scale(1.26, 1.26);
}

.cardContent-round {
    overflow: visible;
}

.cardImageContainer-round, .cardImage-round {
    border-radius: 1000px;
}
