.alphanumeric-shortcut {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99999;
    font-size: 500%;
    /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    padding: 0 .5em .1em;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .05em;
    color: #ddd;
}