.selectionCommandsPanel {
    position: fixed;
    top: 0;
    top: var(--window-inset-top);
    left: 0;
    right: 0;
    padding: 1em .5em;
    display: flex;
    align-items: center;
    z-index: 99999;
}

.itemSelectionCount {
    vertical-align: middle;
    color: #fff !important;
    margin: 0;
}