.headroom {
    transition: transform 140ms ease-out;
}

.headroom--pinned {
    transform: none;
}

.headroomDisabled {
    transform: none !important;
}

.headroom--unpinned {
    transform: translateY(-100%);
}
