.alphaPicker {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.alphaPicker-vertical {
    line-height: 1;
}

.alphaPicker-fixed {
    position: fixed;
    top: 9em;
    top: calc(9em + (var(--window-inset-top) * 0.7));
    bottom: .5em;
    bottom: calc(.5em + var(--window-inset-bottom));
    /* If this value is ever increased, make sure to test it with the appfooter active */
    z-index: 1;
    justify-content: center;
}

@media all and (pointer: coarse) {

    /* space for the docked tabs*/
    .alphaPicker-fixed:not(.alphaPicker-tv) {
        bottom: 4.5em;
        bottom: calc(4.5em + var(--window-inset-bottom));
    }
}

.alphaPickerRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.alphaPickerRow-vertical {
    column-count: 1;
    flex-grow: 1;
    flex-direction: column;
}

.alphaPickerButton {
    border: 0 !important;
    cursor: pointer;
    outline: none !important;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    min-width: initial;
    margin: 0;
    padding: .1em .4em;
    width: auto;
    border-radius: .2em;
    font-weight: normal;
    flex-shrink: 0;
    flex-grow: 1;
}

@media all and (max-height: 49em) {
    .alphaPicker-vertical {
        font-size: 94%;
    }
}

@media all and (max-height: 44em) {

    .alphaPicker-vertical {
        font-size: 90%;
    }
}

@media all and (max-height: 37em) {

    .alphaPicker-vertical {
        font-size: 82%;
    }
}

@media all and (max-height: 32em) {

    .alphaPicker-vertical {
        font-size: 74%;
    }
}

.alphaPicker-vertical.alphaPicker-tv {
    font-size: 86%;
}

.alphaPickerButton-vertical {
    /* Assign a fixed width to ensure they have the same dimensions and avoid throwing off directional navigation */
    width: 1.9em;
    display: flex;
    justify-content: center;
    text-align: center;
    break-inside: avoid;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 1.45em;
}

    .alphaPickerButton-vertical.alphaPickerButton-tv {
        max-height: 1.21em;
    }

.alphaPickerButtonIcon {
    font-size: 100% !important;
}

.alphaPicker-fixed-left {
    left: 0;
}

.alphaPicker-fixed-right {
    right: 0;
}

@media (pointer: fine) {
    .alphaPicker-fixed-right {
        right: 1em;
    }
}

.alphaPicker-fixed-right.alphaPicker-tv {
    right: 0;
}

@media all and (min-width: 62.5em) {

    .alphaPicker-fixed-left {
        left: .8em;
    }

    .alphaPicker-fixed-right {
        right: .8em;
    }

    @media (pointer: fine) {
        .alphaPicker-fixed-right {
            right: 1.8em;
        }
    }

    .alphaPicker-fixed-right.alphaPicker-tv {
        right: .8em;
    }
}

@media all and (max-height: 30em) {

    .alphaPicker-fixed {
        display: none !important;
    }
}
