.alphaPicker {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.alphaPickerRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.alphaPicker-vertical {
    font-size: 90%;
}

.alphaPickerRow-vertical {
    flex-direction: column;
}

.alphaPickerButton {
    border: 0 !important;
    cursor: pointer;
    outline: none !important;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    min-width: initial;
    margin: 0;
    padding: .1em .4em;
    width: auto;
    border-radius: .1em;
    font-weight: normal;
    flex-shrink: 0;
    flex-grow: 1;
}

.alphaPicker-vertical .alphaPickerButton {
    padding: 0;
    /* Assign a fixed width to ensure they have the same dimensions and avoid throwing off directional navigation */
    width: 1.5em;
}

.alphaPickerButtonIcon {
    width: 3.3vh;
    height: 3.3vh;
    font-size: 3.3vh;
}
