:root {
    --theme-mobile-item-background: #216187;
}

html {
    color: #ddd;
    color: rgba(255, 255, 255, .87);
    scrollbar-color: #857371 rgba(0,0,0,.5);
}

.emby-collapsible-button {
    border-color: #383838;
    border-color: rgba(255,255,255, .135);
}

.skinHeader-withBackground {
    background: #303030;
    background: linear-gradient(to right,#291A31, #033664, #011432, #141A3A, #291A31);
}

@supports ( (backdrop-filter: blur(1em)) or (-webkit-backdrop-filter: blur(1em))) {

    .skinHeader-withBackground:not(.nobackdropfilter) {
        background: linear-gradient(to right,rgba(41,26,49,.7), rgba(3,54,100,.7), rgba(1,20,50,.7), rgba(20,26,58,.7), rgba(41,26,49,.7));
        /*background: rgba(3,54,100,.7);*/
        -webkit-backdrop-filter: saturate(1.8) blur(1.5em);
        backdrop-filter: saturate(1.8) blur(1.5em);
    }
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, .3);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}

.pageTitleWithDefaultLogo {
    background-image: url(../logowhite.png);
}

html, .dialog {
    background-color: #033361;
}

.backgroundContainer {
    background: #033361 url(bg.jpg) no-repeat center top;
    background-size: cover;
}

    .backgroundContainer.withBackdrop {
        opacity: .88;
    }

@media not all and (min-width: 50em) {

    .itemBackgroundContainer {
        opacity: 1;
        background: var(--theme-mobile-item-background);
    }
}

@media all and (orientation: landscape) and (min-height: 50em) and (min-width: 50em) {

    .itemBackgroundContainer-graphic.withBackdrop {
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,.84), rgba(0,0,0,.9), rgba(0,0,0,1));
        opacity: 1;
    }
}

@media (orientation: portrait) {

    .backgroundContainer {
        background-position: 30% top;
    }
}

/* buttons */
.paper-icon-button-light-tv:focus, .paper-icon-button-light:active {
    color: #52B54B;
    background-color: rgba(82, 181, 75, 0.2);
}

@media(hover: hover) and (pointer: fine) {
    .paper-icon-button-light:focus {
        color: #52B54B;
        background-color: rgba(82, 181, 75, 0.2);
    }
}

.raised, .fab, .detailButton-icon {
    background: rgba(0,0,0,.5);
    color: rgba(255, 255, 255, .87);
}

.detailButton-icon {
    border-color: rgba(255, 255, 255, .4);
}

/* select */
.emby-select-withcolor {
    color: inherit;
    background: rgba(0,0,0,.5);
    border: .07em solid transparent;
}

@supports ( (backdrop-filter: blur(1em)) or (-webkit-backdrop-filter: blur(1em))) {

    .raised:not(.nobackdropfilter), .fab:not(.nobackdropfilter), .detailButton-icon:not(.nobackdropfilter), .emby-select-withcolor:not(.nobackdropfilter) {
        background: rgba(0,0,0,.4);
        -webkit-backdrop-filter: saturate(1.8) blur(1.5em);
        backdrop-filter: saturate(1.8) blur(1.5em);
    }


    @media all and (orientation: landscape) and (min-height: 50em) and (min-width: 50em) {

        .topDetailsMain-graphic .detailButton-icon:not(.nobackdropfilter), .topDetailsMain-graphic .emby-select-withcolor:not(.nobackdropfilter) {
            background: rgba(85,85,85,.3);
        }
    }
}

.raised:focus, .fab:focus {
    background: rgba(0,0,0,.7);
}

.button-submit:not(.emby-button-tv) {
    background: #52B54B;
    color: #fff;
}

    .button-submit:not(.emby-button-tv):focus {
        background: #5EC157;
        color: #fff;
    }

.emby-select-withcolor > option {
    color: inherit;
    background: #222;
}

.emby-select-withcolor:focus {
    border-color: #52B54B !important;
}

.emby-select-tv-withcolor:focus {
    background-color: #52B54B !important;
    color: #fff !important;
}

.checkboxLabel {
    color: inherit;
}

.inputLabelUnfocused, .textareaLabelUnfocused, .inputLabel, .checkboxListLabel {
    color: #bbb;
    color: rgba(255, 255, 255, .6);
}

.selectLabelFocused, .textareaLabelFocused, .inputLabelFocused {
    color: #52B54B;
}

.button-link {
    color: #52B54B;
}

.button-flat-accent {
    color: #52B54B;
}

.paperList, .visualCardBox, .formDialogHeader:not(.formDialogHeader-clear), .formDialogFooter:not(.formDialogFooter-clear), .collapseContent {
    background-color: rgba(0,0,0,.5);
}

.listItemBodyText-secondary, .secondaryText, .fieldDescription, .cardText-secondary {
    color: #999;
    color: rgba(255, 255, 255, .6);
}

.actionsheetDivider {
    background: #444;
    background: rgba(255, 255, 255, .14);
}

@media(hover: hover) and (pointer: fine) {
    .actionSheetMenuItem:hover {
        background-color: rgba(0,0,0, .5);
    }
}

.toast {
    background: #303030;
    color: #fff;
    color: rgba(255, 255, 255, .87);
}

/* appfooter */
.appfooter {
    background: #033664;
    color: #ccc;
    color: rgba(255, 255, 255, .87);
}

@supports ( (backdrop-filter: blur(1em)) or (-webkit-backdrop-filter: blur(1em))) {

    .appfooter-withbackdropfilter {
        background: rgba(3,54,100,.7);
        -webkit-backdrop-filter: saturate(1.8) blur(1.5em);
        backdrop-filter: saturate(1.8) blur(1.5em);
    }
}

/* Multi-select */
.itemSelectionPanel {
    border: 1px solid #52B54B;
}

.selectionCommandsPanel {
    background: #52B54B;
    color: #fff;
}

/* upNextDialog */
.upNextDialog-countdownText {
    color: #52B54B;
}

/* alphaPicker */
.alphaPickerButton {
    color: #999;
    color: rgba(255, 255, 255, .6);
    background-color: transparent;
}

.alphaPickerButton-selected {
    color: #fff;
}

.alphaPickerButton-tv:focus {
    background-color: #52B54B;
    color: #fff !important;
}

.detailTableBodyRow-shaded:nth-child(even) {
    background: #1c1c1c;
    background: rgba(30, 30, 30, .9);
}

.listItem-border {
    border-color: rgba(255,255,255,.08) !important;
}

.listItem-focusscale:focus {
    background: rgba(0,0,0,.3);
}

.progressring-spiner {
    border-color: #52B54B;
}

.mediaInfoText {
    color: #ddd;
    background: rgba(170,170,190, .2);
}

.starIcon {
    color: #CB272A;
}

.mediaInfoTimerIcon {
    color: #CB272A;
}

/* inputs */
.emby-input, .emby-textarea {
    color: inherit;
    background: rgba(0,0,0,.5);
    border: .07em solid transparent;
}

    .emby-input:focus, .emby-textarea:focus {
        border-color: #52B54B;
    }

/* checkbox */
.emby-checkbox:checked + span:before {
    border-color: currentColor;
}

.emby-checkbox:checked + span:before {
    border-color: #52B54B;
    background-color: #52B54B;
}

/* indicators */
.itemProgressBarForeground {
    background-color: #52B54B;
}

.itemProgressBarForeground-recording {
    background-color: #CB272A;
}

.countIndicator {
    background: #52B54B;
}

.playedIndicator {
    background: #52B54B;
}

/* main nav drawer */
.mainDrawer {
    background-color: rgba(0,0,0,.2);
}

.drawer-open {
    background-color: #011432;
}

@media(hover: hover) and (pointer: fine) {
    .navMenuOption:hover {
        background-color: rgba(255,255,255,.1);
    }
}

.navMenuOption-selected {
    background-color: rgba(82, 181, 75, 0.2) !important;
    color: #52B54B;
}

/* emby-button */
.emby-button-focusscale:focus, .emby-button-focusscale:focus .detailButton-icon {
    background: #52B54B;
    color: #fff;
}

/* emby-tabs */
.emby-tab-button {
    color: #999;
    color: rgba(255, 255, 255, .5);
}

.emby-tab-button-active {
    color: #52B54B;
}

    .emby-tab-button-active.emby-button-tv {
        color: #fff;
    }

.emby-tab-button.emby-button-tv:focus {
    color: #52B54B;
    background: transparent;
}

/* guide */
.guide-channelHeaderCell, .channelPrograms, .programCell {
    border-color: rgba(255,255,255,.05);
}

.programCell-sports {
    background: #3949AB !important;
}

.programCell-movie {
    background: #5E35B1 !important;
}

.programCell-kids {
    background: #039BE5 !important;
}

.programCell-news {
    background: #43A047 !important;
}

.programCell-active {
    background: rgba(0,0,0,.4) !important;
}

.programCell:focus, .guide-channelHeaderCell:focus {
    background-color: #52B54B !important;
    color: #fff !important;
}

.guide-programTextIcon {
    color: #1e1e1e;
    background: #555;
}

.guide-headerTimeslots {
    color: inherit;
}

/* detail screen */
.itemBackdropFader {
    background: linear-gradient(rgba(0,0,0,0), var(--theme-mobile-item-background));
}

/* used by directory picker and other areas */
.infoBanner {
    color: #ddd;
    background: #111;
    padding: 1em;
    border-radius: .3em;
}

/* buttons */
.ratingbutton-icon-withrating {
    /* Important so that it's not lost on detailButton focus */
    color: #cc3333 !important;
}

.downloadbutton-icon-on {
    color: #4285F4;
}

.downloadbutton-icon-complete {
    color: #4285F4;
}

.playstatebutton-icon-played {
    /* Important so that it's not lost on detailButton focus */
    color: #cc3333 !important;
}

.repeatButton-active {
    color: #4285F4;
}

.card:focus .card-focuscontent {
    border-color: #52B54B;
}

.cardContent-button {
    background-color: transparent;
}

/* cards */
.cardContent-shadow {
    box-shadow: 0 0.0725em 0.29em 0 rgba(0, 0, 0, 0.37);
    background-color: rgba(0,0,0,.5);
}

.defaultCardBackground0, .defaultCardBackground1, .defaultCardBackground2, .defaultCardBackground3, .defaultCardBackground4, .defaultCardBackground5 {
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: .2em;
    background: #857371 no-repeat center;
}

/* emby-slider */
.emby-slider-background {
    background: rgba(255,255,255,.3);
}

.emby-slider {
    color: #52B54B;
}

    .emby-slider::-moz-range-track {
        background: #444;
    }

    .emby-slider::-moz-range-progress {
        background: #52B54B;
    }

    .emby-slider::-webkit-slider-thumb {
        background: #52B54B;
    }

    .emby-slider::-moz-range-thumb {
        background: #52B54B;
    }

    .emby-slider::-ms-thumb {
        background: #52B54B;
    }

.emby-slider-background-lower {
    background-color: #52B54B;
}

/* scrollbuttons */
.scrollbuttoncontainer {
    color: #fff;
    background: rgba(20, 20, 20, 0.5);
}

.recordingIcon-active {
    color: #cc3333 !important;
}

.drawerLogo {
    background-image: url(../logowhite.png);
    border-bottom-color: rgba(255,255,255,.08);
}
