.tvguide {
    display: flex;
    flex-direction: column;
    align-items: initial;
}

.tvGuideHeader {
    white-space: nowrap;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
    display: flex;
    /* Try to give this a min height that will be semi accurate so that the heaeder always takes up a certain amount of space */
    /* This is needed when setting up the animated virtual scroller, where the frame height is needed before the header contents are set. */
    min-height: 5.6em;
}

.guideHeaderDateSelection {
    font-size: 86%;
    padding: .4em 0;
}

.guideHeaderTimeslots {
    display: flex;
    color: #ccc;
}

.tvProgramSectionHeader {
    margin: 0;
}

.tvProgram {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}

.guideProgramIndicator {
    text-transform: uppercase;
    border-radius: .25em;
    margin-right: .5em;
    font-size: 78%;
    padding: .08em .25em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-left: 1em;
}

.channelTimeslotHeader {
    flex-shrink: 0;
    justify-content: center;
}

.timeslotHeaders {
    white-space: nowrap;
}

.programContainer {
    white-space: nowrap;
    position: relative;
    align-items: flex-start;
}

.channelPrograms {
    white-space: nowrap;
    position: relative;
    contain: strict;
    box-sizing: border-box;
    margin-bottom: .34em;
}

.timeslotHeadersInner {
    position: relative;
}

.currentTimeIndicatorBar {
    position: absolute;
    bottom: .05em;
    left: 0;
    width: 100%;
    height: 2px;
    display: flex;
    margin-left: .25em;
    background-color: #52B54B;
    height: 2px;
    transform-origin: left;
    transition: transform 500ms ease-out;
}

.currentTimeIndicatorArrowContainer {
    position: absolute;
    bottom: -.4em;
    color: #52B54B;
    margin-left: .25em;
    transform-origin: left;
    transition: transform 500ms ease-out;
}

.currentTimeIndicatorArrow {
    width: 1em;
    height: 1em;
    font-size: 1.2em;
    color: #52B54B;
    margin-left: -.52em;
}

.guideSpacer {
    width: .34em;
    flex-shrink: 0;
}

.channelPrograms, .timeslotHeadersInner {
    width: 1800vw;
}

@media all and (min-width: 37.5em) {

    .channelPrograms, .timeslotHeadersInner {
        width: 1400vw;
    }
}

@media all and (min-width: 50em) {

    .channelPrograms, .timeslotHeadersInner {
        width: 1200vw;
    }
}

@media all and (min-width: 80em) {

    .channelPrograms, .timeslotHeadersInner {
        width: 810vw;
    }
}

.timeslotHeader {
    display: inline-flex;
    align-items: center;
    text-indent: .35em;
}

.channelHeaderCell, .channelTimeslotHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1px;
    background: #2e2e2e;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Needed in firefox */
    text-align: left;
    contain: strict;
    flex-shrink: 0;
    border-radius: .3em;
}

/* Important - have to put the fixed width on channelsContainer, not the individual channelHeaderCell
   This was causing channelsContainer to extend beyond the fixed width on ps4, tizen, lg and opera tv.
*/
.channelsContainer, .channelTimeslotHeader {
    width: 24vw;
}

.channelHeaderCell {
    width: 100%;
}

@media all and (min-width:31.25em) {
    .channelsContainer, .channelTimeslotHeader {
        width: 16vw;
    }
}

@media all and (min-width:37.5em) {
    .channelsContainer, .channelTimeslotHeader {
        width: 16vw;
    }
}

@media all and (min-width:50em) {
    .channelsContainer, .channelTimeslotHeader {
        width: 14vw;
    }
}

@media all and (min-width:80em) {
    .channelsContainer, .channelTimeslotHeader {
        width: 12vw;
    }
}

.btnGuideViewSettings {
    margin: 0;
    flex-shrink: 0;
}

.btnGuideViewSettingsIcon {
    font-size: 1.5em !important;
}

.selectDateIcon {
    flex-shrink: 0;
}

.channelHeaderCell {
    background-size: auto 70%;
    background-position: 92% center;
    background-repeat: no-repeat;
    margin-bottom: .34em;
}

@media all and (max-width: 50em) {

    .newTvProgram, .liveTvProgram, .premiereTvProgram, .guideHdIcon {
        display: none;
    }
}

.channelPrograms {
    height: 4.2em;
    contain: strict;
}

.channelHeaderCell {
    height: 4.2em;
    contain: strict;
}

.channelPrograms {
    display: flex;
    flex-direction: column;
}

.channelPrograms-tv, .channelHeaderCell-tv {
    height: 3.4em;
}

.channelTimeslotHeader {
    border-right-color: transparent;
}

.channelTimeslotHeader, .timeslotHeader {
    background: transparent;
    height: 2.2em;
}

.programGrid {
    padding-bottom: 4px;
    flex-grow: 1;
}

.timeslotHeader {
    width: 2.0833333333333333333333333333333%;
}

.programCell {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    text-decoration: none;
    overflow: hidden;
    align-items: center;
    /* Needed for Firefox */
    text-align: left;
    contain: strict;
    flex-grow: 1;
    margin: 0 !important;
    padding: 0 !important;
}

.programCellInner {
    margin-right: .34em;
    background-color: #202020;
    display: flex;
    flex-grow: 1;
    border-radius: .25em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    overflow: hidden;
}

.programAccent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
}

.sportsAccent {
    background-color: #3949AB;
}

.movieAccent {
    background-color: #5E35B1;
}

.childAccent {
    background-color: #039BE5;
}

.newsAccent {
    background-color: #43A047;
}

.specialsAccent {
    background-color: #FB8C00;
}

.guideProgramName {
    padding: 0 .5em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    display: flex;
    position: relative;
    flex-grow: 1;
    /*transition: transform 60ms ease-out;*/
}

.guideProgramNameCaret {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 200%;
}

.guideProgramNameText {
    margin: 0;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guideProgramSecondaryInfo {
    display: flex;
    align-items: center;
    margin-top: .1em;
}

.programSecondaryTitle {
    color: #888;
}

.programIcon {
    margin-left: .5em;
    height: 1em;
    width: 1em;
    font-size: 1.6em;
    color: #ddd;
    flex-shrink: 0;
    flex-grow: 0;
}

.programTextIcon {
    font-weight: bold;
    color: rgb(30,30,30);
    font-size: .9em;
    background: #555;
    padding: .16em .3em;
    border-radius: .25em;
    margin-right: .35em;
    width: auto;
    height: auto;
}

.programTextIcon-tv {
    font-size: .74em;
}

.guideChannelNumber {
    padding-left: 1em;
    max-width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    margin: 0;
}

.guideChannelName {
    margin-left: auto;
    margin-right: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
}

@media all and (min-width: 62.5em) {

    .guideChannelName {
        max-width: 40%;
    }
}

@media all and (max-width: 62.5em) {

    .guideChannelNumber {
        display: none;
    }
}

.channelsContainer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    color: #ddd;
}

.channelsContainer, .programGrid {
    contain: layout style;
}

.programCell, .channelHeaderCell {
    outline: none !important;
}

    .programCell:focus > .programCellInner, .channelHeaderCell:focus {
        background-color: #555;
    }

.timerIcon, .seriesTimerIcon {
    color: #cc3333 !important;
}

.seriesTimerIcon-inactive {
    color: inherit !important;
    opacity: .7;
}

.guideOptions {
    color: #eee;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

@media all and (max-width: 50em), all and (max-height: 37.5em) {

    .tvGuideHeader {
        padding-left: 0;
    }
}

.guideRequiresUnlock {
    margin: 1em auto;
    text-align: center;
    padding: 1em;
    flex-shrink: 0;
}

.noRubberBanding {
    /* This is needed to combat the rubber banding in iOS */
    padding-bottom: 100px;
}

.guideDateTabsSlider {
    text-align: center;
}

.guide-date-tab-button {
    color: #555 !important;
    padding: .3em .7em !important;
    margin: 0 .3em !important;
}

    .guide-date-tab-button.emby-tab-button-active {
        color: #52B54B !important;
        border-color: transparent !important;
    }

    .guide-date-tab-button:focus {
        color: #52B54B !important;
    }

    .guide-date-tab-button.emby-button-tv:focus {
        background-color: #52B54B !important;
        border-radius: .15em !important;
        color: #fff !important;
        transform: none !important;
    }
