.newTvProgram {
    background: #52B54B;
    color: #fff;
}

.liveTvProgram {
    background: #cc3333;
    color: #fff;
}

.premiereTvProgram {
    background: #52B54B;
    color: #fff;
}

.repeatTvProgram {
    background: #607D8B;
    color: #fff;
}
