.newTvProgram {
    background: #E4B70F;
    color: #000!important;
}

.liveTvProgram {
    background: #cc3333;
}

.premiereTvProgram {
    background: #EF6C00;
}

.repeatTvProgram {
    background: #009688;
}
