.btnFilterWithBubble {
    position: relative;
}

.filterButtonBubble {
    color: #fff;
    position: absolute;
    background: #444;
    top: 0;
    right: 0;
    /* padding: .5em; */
    width: 1.6em;
    height: 1.6em;
    z-index: 100000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 82%;
    border-radius: 100em;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    background: #03A9F4;
    font-weight: bold;
}
