.emby-select {
    display: block;
    margin: 0;
    margin-bottom: 0 !important;
    /* Remove select styling */
    /* Font size must the 16px or larger to prevent iOS page zoom on focus */
    font-size: 110%;
    /* General select styles: change as needed */
    font-family: inherit;
    font-weight: inherit;
    padding: .5em 1.9em .5em .5em;
    /* Prevent padding from causing width overflow */
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
}

.selectContainer-inline > .emby-select {
    padding: .5em 1.9em .5em .5em;
    font-size: inherit;
}

.emby-select::-moz-focus-inner {
    border: 0;
}

.emby-select-focusscale {
    transition: transform 180ms ease-out !important;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

    .emby-select-focusscale:focus {
        transform: scale(1.1);
        z-index: 1;
    }

.emby-select + .fieldDescription {
    margin-top: .25em;
}

.selectContainer {
    margin-bottom: 1.8em;
    position: relative;
}

.selectContainer-inline {
    display: inline-flex;
    margin-bottom: 0;
    align-items: center;
}

.selectLabel {
    display: block;
    margin-bottom: .25em;
    margin-right: .75em;
}

.selectContainer-inline > .selectLabel {
    margin-bottom: 0;
}

.emby-select-withcolor {
    -webkit-appearance: none;
    appearance: none;
}

.selectArrowContainer {
    position: absolute;
    right: .3em;
    top: .27em;
    color: inherit;
    pointer-events: none;
}

.selectContainer-inline > .selectArrowContainer {
    top: initial;
    bottom: .23em;
}

.selectArrow {
    margin-top: .35em;
    font-size: 1.7em;
}

.emby-select-iconbutton {
    align-self: flex-end;
}
