.emby-select {
    display: block;
    margin: 0;
    margin-bottom: 0 !important;
    /* Remove select styling */
    /* Font size must the 16px or larger to prevent iOS page zoom on focus */
    font-size: 110%;
    /* General select styles: change as needed */
    font-family: inherit;
    font-weight: inherit;
    padding: .5em 1.9em .5em .5em;
    /* Prevent padding from causing width overflow */
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
}

    .emby-select[disabled] {
        background: none !important;
        border-color: transparent !important;
        color: inherit !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

.emby-select-inline {
    font-size: inherit;
}

    .emby-select-inline[disabled] {
        padding: .2em 0;
        border: 0;
    }

.emby-select-tv-inline {
    width: auto;
    padding-right: .5em;
}

.emby-select::-moz-focus-inner {
    border: 0;
}

.emby-select-focusscale {
    transition: transform 180ms ease-out !important;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

    .emby-select-focusscale:focus {
        transform: scale(1.04);
        z-index: 1;
    }

.emby-select + .fieldDescription {
    margin-top: .25em;
}

.selectContainer {
    margin-bottom: 1.8em;
    position: relative;
}

.selectContainer-inline {
    display: inline-flex;
    margin: .25em 0;
    align-items: center;
}

.selectLabel {
    display: block;
    margin-bottom: .25em;
}

.selectLabel-inline {
    margin-bottom: 0;
    margin-right: .5em;
    flex-shrink: 0;
}

.emby-select-withcolor {
    border-radius: .2em;
}

    .emby-select-withcolor:not(.emby-select-tv-inline) {
        -webkit-appearance: none;
        appearance: none;
    }

.selectArrowContainer {
    position: absolute;
    right: .3em;
    top: .1em;
    color: inherit;
    pointer-events: none;
}

.selectArrowContainer-inline {
    top: initial;
    bottom: .38em;
    font-size: 90%;
}

.emby-select-inline.emby-select-tv-withcolor + .selectArrowContainer {
    display: none;
}

.emby-select[disabled] + .selectArrowContainer {
    display: none;
}

.selectArrow {
    margin-top: .35em;
    font-size: 1.7em;
}

.emby-select-iconbutton {
    align-self: flex-end;
}
